.burgerBorder{
  border-style: solid; 
  width: 180px; 
  height: 130px;
  margin-bottom: 5px; 
  padding: 6px; 
  background-color:#FFEABF; 
  color: white;
  position: relative;
  z-index: -100;
}

.burger{
  background-color:#4F351B; 
  color:white; margin-bottom: 0px;
  position: relative;
  bottom: 55px;
  right: 4px;
  height: 30px;
  width: 171px;
  font-size: 20px;
  border-radius: 25px;
  text-align: center;

}

.devourBtn{
margin-bottom: 15px;
}

#addBurgerBtn{
  margin-top: 5px;
}

.burgerImg{
  height:100px;
  position: relative;
  right: 3px;
  z-index: -10;
}

.burgie{
  height: 300px;
}